DATABASE_URL=postgresql://username:password@localhost:5432/db_name
BETTER_AUTH_SECRET=your-secret-key # Generate a secret key: `bunx --bun @better-auth/cli secret`
BETTER_AUTH_URL=http://localhost:3000 # Application URL

